.custom-select {
  position: relative;
  padding: 0 3px;
  & select{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 26px;
    padding: 3px 20px 3px 5px;
    outline: none;
    background-color: #2b2b2b;
    border: none;
    color: #d7d7d7;
    cursor: pointer;
  }
  & option {
    background-color: #2b2b2b; /* Set the background color of the options */
    color: #d7d7d7; /* Set the text color of the options */
  }
  &::after {
    --size: 4px;
    content: "";
    position: absolute;
    right: 8px;
    pointer-events: none;
  }

  &::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 50%;
  }
  &.invalid{
    & select {
      color:red;
    }
  }
}
