.drawer {
  position: absolute;
  top: -100%;
  width: 250px;
  // height: calc(100% - 30px);
  height: 100%;
  background-color: #f8f8f8;
  transition: top 0.3s ease-out;
}

.drawer.open {
  top: 0; /* Slide in */
}
// :host{
//   width: 400px;
// }
