:host{
  position: relative;
  height: 100%;
  display: block;
}
.entriesListWrapper {
  border: 1px solid #45423d;
  border-radius: 6px;
  overflow: hidden;
  background-color: #1d1d1d;
//
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header{
  background-color: #171717;
  padding: 8px 5px;
}
.chipsContainer{
  display: flex;
  justify-content: space-between;
}
.chips{
  display: inline-block;
  height: 26px;
  background-color: #2b2b2b;
  border-radius: 4px;
}

.showCreateBtn{
  background: #271191;
  border: none;
  border-radius: 5px;
  color: #e4e4e4;
  line-height: 1.5;
  min-width: 26px;
  height: 26px;
  margin-left: 8px;
  cursor: pointer;
  font-weight: 600;
}
.body{
  overflow: auto;
}

.tasksContainer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  & li {
    color: #c1c1c1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    margin: 3px 5px;
    background: #141414;
    border-radius: 5px;
    & .extId{
      font-weight: 500;
      font-size: 13px;
      font-family: monospace;
    }
    & .taskTitle{
      flex-grow: 1;
      padding: 0 10px;
      line-height: 1;
      margin-bottom: 3px;
    }
    & .action{
      cursor: pointer;
      &:hover svg {
        stroke: #ffffff;
      }
    }
    & .taskStatus{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 70px;
      cursor: pointer;
      &__icon{
        width: 8px;
        height: 8px;
        border-radius: 50px;
        margin-right: 4px;
        &--todo{
          background-color: #009aff;
        }
        &--inProgress{
          background-color: #ffc500;
        }
        &--completed{
          background-color: #00ff66;
        }
      }
      &__text{
        font-size: 10px;
        line-height: 1;
      }
    }
  }
}

.taskName{
  background-color: transparent;
  caret-color: #e0e0e0;
  color: #797979;
  outline: none;
  box-shadow: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
}

.description {
  color: #c1c1c1;
  background: transparent;
  margin-top: 12px;
  border: none;
  outline: none;
  resize:vertical;
}

.footer{
  background-color: #141414;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 20px;
  & button {
    cursor: pointer;
    font-weight: 600;
    border: 2px solid;
    border-radius: 17px;
    padding: 7px 18px;
    background: transparent;
    margin-left: 20px;
    &:not([type=submit]){
      background: #474747;
      border-color: transparent;
      color: #d1d1d1;
    }
    &[type=submit]{
      border-color: #7e7e7e;
      color: #7e7e7e;
    }

  }
}

// HAMBURGER BUTTON START
.line {
  background-color: #e4e4e4;
  display: block;
  height: 1.6px;
  margin: 2.4px 0;
  transition: all 0.3s ease-in-out;
  width: 14px;
}
// .hamburger-button:hover .line {
//   background-color: #333;
// }
// HAMBURGER BUTTON END
